page-graphs {
	.header .col {
		background-color: color($colors, secondary);
		color: white;
	}
	
	.col {
		width: 100px;
		border: solid 1px grey;
		background-color: white;
		border-bottom-style: none;
		border-right-style: none;
	}
	
	.col:last-child {
		border-right: solid 1px grey;
	}
	
	.row:last-child .col {
		border-bottom: solid 1px grey;
	}
}
