.item {
    border-radius: 10px;
}

// COLOR GREY ------------------------------------
.color-template-grey,
.color-template-grey input,
.color-template-grey ion-item {
    background-color: color($colors, plight);
}

.color-template-grey ion-label,
.color-template-grey ion-select {
    color: black !important;
}
.color-template-grey .item-inner {
    border-bottom: 1px solid black;
}
// -----------------------------------------------
// COLOR BLACK ------------------------------------
.color-template-black,
.color-template-black input,
.color-template-black ion-item {
    background-color: color($colors, dark);
}
.color-template-black ion-label,
.color-template-black ion-select {
    color: white !important;
}
// -----------------------------------------------
// COLOR WHITE ------------------------------------
.color-template-white {
    background-color: color($colors, light);
}

