.item {
    border-radius: 10px;
}

// COLOR WHITE ------------------------------------
.color-template-white {
    background-color: color($colors, light);
}
// COLOR GREY ------------------------------------
.color-template-grey {
    background-color: color($colors, plight);
}
// -----------------------------------------------
// COLOR BLACK ------------------------------------
.color-template-black {
    background-color: color($colors, dark);
}
// -----------------------------------------------

.color-template-grey .item-inner {
    border: none !important;
}
.color-template-black .item-inner {
    border: none !important;
}

